{% extends "components/template.twig" %}

{% block content %}
<table width="790" cellspacing="0" cellpadding="0" border="0" align="center">
	<tbody><tr valign="top">
		<td style="padding-right: 15px;">
		
		<table width="595" cellspacing="0" cellpadding="0" border="0" bgcolor="#E5ECF9" align="center">
			<tbody><tr>
				<td><img src="/img/box_login_tl.gif" width="5" height="5"></td>
				<td width="100%"><img src="/img/pixel.gif" width="1" height="5"></td>
				<td><img src="/img/box_login_tr.gif" width="5" height="5"></td>
			</tr>
			<tr>
				<td><img src="/img/pixel.gif" width="5" height="1"></td>
				<td style="padding: 5px 0px 10px 0px;">
				
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
					<tbody><tr valign="top">
					<td style="border-right: 1px dashed #369; padding: 0px 10px 10px 10px; color: #444;" width="33%">
					<div style="font-size: 16px; font-weight: bold; margin-bottom: 5px;"><a href="my_videos_upload.php">Upload</a></div>
					Quickly upload and tag your works in any common format.
					</td>
					<td style="border-right: 1px dashed #369; padding: 0px 10px 10px 10px; color: #444;" width="33%">
					<div style="font-size: 16px; font-weight: bold; margin-bottom: 5px;"><a href="browse.php">Watch</a></div>
					Instantly find and watch 100's of other people's works.
					</td>
					<td style="padding: 0px 10px 10px 10px; color: #444;" width="33%">
					<div style="font-size: 16px; font-weight: bold; margin-bottom: 5px;"><a href="my_friends_invite.php">Share</a></div>
					Easily share your works with family, friends, or co-workers.
					</td>
					</tr>
				</tbody></table>
				
				</td>
				<td><img src="/img/pixel.gif" width="5" height="1"></td>
			</tr>
			<tr>
				<td><img src="/img/box_login_bl.gif" width="5" height="5"></td>
				<td><img src="/img/pixel.gif" width="1" height="5"></td>
				<td><img src="/img/box_login_br.gif" width="5" height="5"></td>
			</tr>
		</tbody></table><br>
		
		<table width="595" cellspacing="0" cellpadding="0" border="0" bgcolor="#CCCCCC" align="center">
			<tbody><tr>
				<td><img src="/img/box_login_tl.gif" width="5" height="5"></td>
				<td width="100%"><img src="/img/pixel.gif" width="1" height="5"></td>
				<td><img src="/img/box_login_tr.gif" width="5" height="5"></td>
			</tr>
			<tr>
				<td><img src="/img/pixel.gif" width="5" height="1"></td>
				<td width="585">
				<div class="moduleTitleBar">
				<div class="moduleTitle"><div style="float: right; padding: 1px 5px 0px 0px; font-size: 12px;"><a href="browse.php">See More Videos</a></div>
				Today's Featured Uploads
				</div>
				</div>
		
				{% if submissions %}
				{% for submission in submissions %}
					<div class="moduleEntry">
					<table width="565" cellspacing="0" cellpadding="0" border="0">
						<tbody><tr valign="top">
							<td><a href="watch.php?v={{ submission.display_id }}"><img src="img/default.png" class="moduleEntryThumb" width="120" height="90"></a></td>
							<td width="100%"><div class="moduleEntryTitle"><a href="watch.php?v={{ submission.display_id }}">{{ submission.title }}</a></div>
							<div class="moduleEntryDescription">
							{% if submission.description %}
							{{ submission.description }}
							{% else %}
							No description.
							{% endif %}
							</div>
							<div class="moduleEntryTags">
							Tags // <a href="results.php?search=Real">Real</a> : <a href="results.php?search=Hd">Hd</a> : <a href="results.php?search=Punjabi">Punjabi</a> : 							</div>
							<div class="moduleEntryDetails">Added: {{ submission.published | date('F j, Y') }} by <a href="profile.php?user=Username">Username</a></div>
							<div class="moduleEntryDetails">Views: 78 | Comments: 0</div>
							</td>
						</tr>
					</tbody></table>
					</div>
				{% endfor %}
				{% else %}
				No submissions.
				{% endif %}		
									
				</td>
				<td><img src="/img/pixel.gif" width="5" height="1"></td>
			</tr>
			<tr>
				<td><img src="/img/box_login_bl.gif" width="5" height="5"></td>
				<td><img src="/img/pixel.gif" width="1" height="5"></td>
				<td><img src="/img/box_login_br.gif" width="5" height="5"></td>
			</tr>
		</tbody></table>

		
		</td>
		<td width="180">
		
		<table width="180" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFEEBB" align="center">
			<tbody><tr>
				<td><img src="/img/box_login_tl.gif" width="5" height="5"></td>
				<td><img src="/img/pixel.gif" width="1" height="5"></td>
				<td><img src="/img/box_login_tr.gif" width="5" height="5"></td>
			</tr>
			<tr>
				<td><img src="/img/pixel.gif" width="5" height="1"></td>
				<td width="170">
		
								
				<div style="font-size: 16px; font-weight: bold; text-align: center; padding: 5px 5px 10px 5px;"><a href="signup.php">Sign up for your free account!</a></div>
				
								
				</td>
				<td><img src="/img/pixel.gif" width="5" height="1"></td>
			</tr>
			<tr>
				<td><img src="/img/box_login_bl.gif" width="5" height="5"></td>
				<td><img src="/img/pixel.gif" width="1" height="5"></td>
				<td><img src="/img/box_login_br.gif" width="5" height="5"></td>
			</tr>
		</tbody></table>
		
		<div style="margin: 10px 0px 5px 0px; font-size: 12px; font-weight: bold; color: #333;">Recent Tags:</div>
		<div style="font-size: 13px; color: #333333;">
		
				
			<a style="font-size: 17px;" href="results.php?search=dansen">dansen</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=strength">strength</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=spine">spine</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=deal">deal</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=represores">represores</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=shaun">shaun</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=with">with</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=smash">smash</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=vierdaagse">vierdaagse</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=mensen">mensen</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=vet">vet</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=pearce">pearce</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=winson">winson</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=martinez">martinez</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=logo">logo</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=fish">fish</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=fly">fly</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=tara">tara</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=psa">psa</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=old">old</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=ekkelo">ekkelo</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=stunt">stunt</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=hi5">hi5</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=arch">arch</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=nurhaliza">nurhaliza</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=school">school</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=louis">louis</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=iu">iu</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=mayhem">mayhem</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=intocht">intocht</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=saint">saint</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=funny">funny</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=cnt">cnt</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=baby">baby</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=shaup">shaup</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=wielen">wielen</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=jason">jason</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=gladiolen">gladiolen</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=smile">smile</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=taak">taak</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=six">six</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=paintballs">paintballs</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=wander">wander</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=audley">audley</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=wee">wee</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=2005">2005</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=band">band</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=tuyt">tuyt</a> :
		
					
			<a style="font-size: 12px;" href="results.php?search=fiets">fiets</a> :
		
					
			<a style="font-size: 17px;" href="results.php?search=good">good</a> :
		
					
		<div style="font-size: 14px; font-weight: bold; margin-top: 10px;"><a href="tags.php">See More Tags</a></div>
		
		</div>
		
		</td>
	</tr>
</tbody></table>
{% endblock %}