{% extends "components/template.twig" %}

{% block content %}
<table class="tableBg" width="800" cellspacing="1" cellpadding="4">
	<tbody>
        <tr class="titleBg">
            <td colspan="2">
				Home
            </td>
        </tr>
		<tr>
			<td class="contentBg" width="48" align="center">
				<img src="/img/icons/video.png">
			</td>
			<td class="contentBgWhite">
				Videos
			</td>
		</tr>
		<tr>
			<td class="contentBg" width="48" align="center">
				<img src="/img/icons/image.png">
			</td>
			<td class="contentBgWhite">
				Images
			</td>
		</tr>
		<tr>
			<td class="contentBg" width="48" align="center">
				<img src="/img/icons/music.png">
			</td>
			<td class="contentBgWhite">
				Music
			</td>
		</tr>
	</tbody>
</table>

<div>
{% if submissions %}
{% for submission in submissions %}
<div class="submission">
<table cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<tr valign="top">
			<td>
				<a href="view.php?id={{ submission.display_id }}">
					<img src="img/default.png" class="submissionThumb" width="120" height="90">
				</a>
			</td>
			<td width="100%">
			<div class="submissionTitle"><a href="view.php?id={{ submission.display_id }}">{{ submission.title }}</a></div>
			<div class="submissionDescription">
				{% if submission.description %}
				{{ submission.description }}
				{% else %}
				No description.
				{% endif %}
			</div>
			<div class="submissionDetails"><a href="profile.php?user=Username">Username</a> | {{ submission.published | qobo_date('F j, Y') }}</div>
			</td>
		</tr>
	</tbody>
</table>
</div>
{% endfor %}
{% else %}
No submissions.
{% endif %}	
</div>
{% endblock %}